* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    padding: 1rem;
}

.box {
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
    font-size: 8vmin;
    color: #950c0c;
    background-color: #f7f8fa;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #09111e;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#new-btn{
   padding: 1rem;
    font-size: 1.25rem;
    background-color: #09111e;
    color: #fff;
    border-radius: 1rem;
    border: none;  
}

#msg{
    color:#fff;
    font-size: 8vmin;

}
.msg-container {
    height: 20vmin;
}

.hide{
    display : none;
}